@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-sarif;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 800px;
  scroll-behavior: smooth;
  background: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  height: 60px;
}

header.sticky .banner {
  opacity: 0.5;
}
header.sticky .logo {
  position: absolute;
  font-size: 2em;
  left: 100px;
  transform: translate(0%, -50%);
}
header .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

header .logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: #fff;
  font-weight: 600;
  transition: 1s;
  text-decoration: none;
  z-index: 1;
}

header .logo:hover {
  color: green;
}

nav {
  position: relative;
  display: flex;
  z-index: 1;
}

header ul {
  position: relative;
  display: flex;
  transition: 0.25s;
  transform: translateX(100px);
  opacity: 0;
}

header.sticky ul {
  position: relative;
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.75s;
  display: flex;
  flex-direction: flex-end;
}

header ul li {
  list-style: none;
}

header ul li a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
  transition: .5s;
}

header ul li a:hover {
  color: green;
  font-size: 1.5em;


}

.about-section {
  margin-top: 50vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  min-height: 500px;
  background-color: #03080a;
  border-bottom: 2px solid transparent;
}

.info {
  max-width: 50%;
  flex:50%;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.about-section h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #0b5abd;
  width: 80%;
  font-size: 3em;
}

.about-section h4 {
  margin-top: 10px;
  width: 80%;
}
.about-section p {
  font-size: 1.5em;
  width: 100%;
  font-family: Open Sans, sans-serif;
  color: white;
  animation:infoPara 1s linear ;
}

.about-section img {
  max-width: 40%;
  flex:40%;
  height: 400px;
  padding: 50px;
  animation: infoImage 1s linear;
}

/* Skills Section css */

.skills-section {
  padding-top: 10vh;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
}

.skills-section h2 {
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  width: 80%;
  font-size: 3em;
  margin-bottom: 50px;
}

.skill-cards {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-card {
  flex-grow: 4;
  flex-basis: 4rem;
  border-radius: 5;
  width: 500px;
  height: 200px;
  margin: 100px;
  text-align: center;
  background: transparent;
  animation:infoPara 1s linear ;

}

.skill-card h3 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
}

.skill-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* Project Section CSS */

.projects-section {
  width: 100%;
  background-color: #ff9d00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;margin: 0;
  height: auto;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.projects-section h2 {
  font-size: 3em;
  padding-top: 100px;
  color: white;
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
}
.project-card {
  flex: 25%;
  max-width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  border-radius: 10px;
  padding:10px;
  margin: 0 50px 50px 50px;
  text-align: center;
  font-family: arial;
  background-color: #77aa77;
  width: 100%;
  height: auto;
}
.project-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.project-card h1{
  color:brown
}

.project-card button {
  border: 1px solid white;
  border-radius: 10px;
  outline: 0;
  padding: 12px;
  margin: 10px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  transition: 0.5s;
  opacity:.5;
}
.project-card button:hover {
  opacity: 1;
  color: white;
  background-color: green;
  width: 80;
}



/* Contact Form Css */

.contact-section{
  display:flex;
  justify-content: center;
  align-items: center ;
  background-color: #03080a;
  min-height:500px;
  
}

.container{
  width:80%;
  padding:20px;

}
.container h2{
  width: 100%;
  color:#45f3ff;
  font-size:36px;
  text-align: center;
  margin-bottom: 10px;
}

.container .row100{
  position:relative;
  width: 100%;
  display:grid;
  grid-template-columns: repeat(autofit,minmax(300px,1fr));
}

.container .row100 .col{
  position:relative;
  width:100%;
  padding: 0 10px;
  margin:30px 0 10px;
  transition:.5s;
}

.container .row100 .inputBox{
  position:relative;
  width:100%;
  height:40px;
  color:#45f3ff;


}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea{
  position:absolute;
  width:100%;
  height:100%;
  background:transparent;
  box-shadow: none;
  border:none;
  outline:none;
  font-size:18px;
  padding:0 10px;
  z-index:1;
  color:#000;
}

.container .row100 .inputBox .text{
  position:absolute;
  top:0;
  left:0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition:.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text{
  top:-35px;
  left:-10px;
}

.container .row100 .inputBox .line{
  position:absolute;
  bottom: 0;
  display:block;
  width: 100%;
  height:2px;
  background:#45f3ff;
  transition:.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line{
  height:100%;
}

.container .row100 .inputBox.textarea{
  position:relative;
  width:100%;
  height:100px;
  padding:10px 0;
}
.container .row100 .inputBox.textarea textarea{
  height:100%;
  resize:none;
}


.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text{
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line{
  height:100%;
}

.container input[type="submit"]{
  border:none;
  padding:7px 35px;
  cursor:pointer;
  outline:none;
  background:#45feff;
  color:#000;
  font-size: 18px;
  border-radius: 2px;

}

/* Responive CSS */

@media (max-width: 950px) {
  
  header.sticky .logo {
    left: 40px;
    font-size: 1em;
  }
  header.sticky .banner {
    opacity: 0;
  }

  header.sticky .toggle {
    position: fixed;
    top: 30px;
    right: 20px;
    bottom:30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background:  #fff url("menu.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header ul {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .about-section img{
    flex:50%;
    max-width:50%;
    
  }
  .about-section .info{
    flex:60%;
    max-width:60%;

  }
  .skills-section h2 {
    margin-top: 0;
  }
  
  .skills-card {
    
    flex:50%;
    max-width: 50%
    
  }
  
  .skill-card img {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }

  .projects-section {
    text-align: left;
  }
  .projects-card {
    flex: 100%;
    max-width: 50%;
  }
}

@media (max-width: 700px) {
  header {
    padding: 40px;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid transparent;
  }
  .about-section .info {
    flex:100%;
    max-width:100%;
    padding: 0;
    margin: auto;
  }
  .about-section img {
    align-self: center;
    padding: 0px;
    flex:100%;
    max-width:60%;
    height: 200px;
  }
  .about-section h2 {
    font-size: 2em;
  }
  .about-section p {
    font-size: 1.5em;
  }

  .skills-section {
    padding-top: 50px;
    border-bottom: 2px solid transparent;
  }
  .skills-section h2 {
    margin-top: 20px;
    position: relative;
    width: 80%;
    font-size: 3em;
  }
  .skill-cards {
    flex: 100%;
  }

  .skill-card {
    flex-grow: 4;
    flex-basis: 4rem;
    border: 1px solid transparent;
    width: 200px;
    height: auto;
    margin: 30px;
    text-align: center;
  }
  .skill-card h3 {
    font-size: 1.5em;
    color: white;
  }
  .skill-card img {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }

  .projects-section {
    padding-top: 20px;
  }
  .projects-section h2 {
    margin-bottom: 0;
  }
  .project-card {
    flex: 100%;
    max-width: 60%;
  }
}

/* /// Animations */
/* 
@keyframes infoTitle {
  0% { transform: translateX(-200px); }
	25% { transform: translateX(-150px); }
	50% { transform: translateX(-75px); }
	100% { transform: translateX(0px); }
} */

@keyframes infoPara {
  0% { transform: translateY(400px); opacity:.25 }
	25% { transform: translateY(300px); opacity:.5}
	50% { transform: translateY(150px); opacity:.75}
	100% { transform: translateY(0px); opacity:1}
}


@keyframes infoImage {
  0% { transform: translateX(400px); opacity:.25 }
	25% { transform: translateX(300px); opacity:.5 }
	50% { transform: translateX(150px); opacity:.75}
	100% { transform: translateX(0px); opacity:1}
}
